body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pass{
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

input{
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}